$white-color-header: white;
$info-content-color: #eef0f2;
$border-radius-btn: 15px;
$primary-color: #0a66c2;
$primary-color-gradient: #039;
$border-radius-bg: 16px;
$font-title-bg: 48px;
$font-title-md: 40px;
$font-title-sm: 32px;
$font-title-vsm: 24px;
$line-height-title-bg: 60px;
$line-height-title-md: 48px;
$line-height-title-sm: 40px;
$line-height-title-vsm: 32px;
$para-font-size: 18px;
$para-font-size-sm: 16px;
$para-line-height: 24px;
$para-line-weight-sm: 18px;
$para-font-weight: 400;
$header-height: 64px;
$footer-color: #121a21;
$padding-big: 40px;
$padding-small: 16px;
$font-weight-title: 700;

$max-width-xxl: 1439px;
$max-width-xl: 1200px;
$max-width-lg: 1200px;
$max-width-md: 767px;
$max-width-sm: 375px;

$padding-xxl: 80px;
$padding-xl: 40px;
$padding-lg: 42px;
$padding-md: 28px;
$padding-sm: 14px;
